#!/bin/bash

echo "Clearing /dev/sdb"
wipefs /dev/sdb

echo "Creating new partition table on /dev/sdb"
printf "o\nn\np\n\n\n\nw\n" | fdisk /dev/sdb

echo "Creating physical volume lable on /dev/sdb1"
pvcreate /dev/sdb1

echo "Extending volume group 'rhel' with /dev/sdb1"
vgextend rhel /dev/sdb1
